<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card card-default">
          <div class="card-header">Chat Room</div>

          <div class="card-body" id="chatlist" style="height:400px;overflow-y:auto;">
            <ul>
              <li v-for="(chat_item, index) in chats" :key="index" >{{chat_item.message}}</li>
            </ul>
          </div>

          <div class="card-body" >
            <form @submit.prevent="sendMessage">
              <input type="text" v-model="message" style="bottom:0;" class="form-control" id="chatbox" placeholder="Type a message..">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import io from 'socket.io-client';

export default {
  props:['username', 'userid'],
  data: function () {
    return {
      chats:[],
      message:'',
      socket : io('http://localhost:5000')
    }
  },
  created(){
    this.socket.on('connect', () => {
      console.log("Socket connected");
    });
  },
  mounted() {
    let _this = this;
    console.log("Component mounted.");
    this.socket.on('connect', () => {
      _this.socket.emit('i_sign', {username:this.username} )
    });
    this.socket.on('newPublicMessage', function(payload){
      _this.chats.push(payload)
    });
  },
  methods:{
    
    async sendMessage() {
      let username = this.username;
      if (this.message) {
        let message = {
          username: username,
          user_id: this.userid,
          message: this.message,
          room: 0,
          created: new Date()
        };
        
        let response = await this.socket.emit("i_chat", message);
        this.chats.push(message)
        this.message = "";
      }
    }
  }
};
</script>
